<div class="message-container">
    @if (editMode)
    {
        <EditMessage MessageText="@Details.Message"
                    OnUpdated="@HandleMessageChanged"
                    OnCancelled="@HandleEditCancelled"/>
    }
    else
    {
        @if (overlayVisible)
        {
            <div class="overlay">
                <div class="text">Edit</div>
            </div>
        }

        <div class="message"
         @onmouseover="ShowOverlay"
         @onmouseout="HideOverlay"
         @onclick="ToggleEdit">
            <Message Details="Details" />
        </div>
    }

</div>

@code {
    [Parameter]
    public SlackMessage Details { get; set; }

    private bool overlayVisible;
    private bool editMode;

    void ShowOverlay()
    {
        overlayVisible = true;
    }

    void HideOverlay()
    {
        overlayVisible = false;
    }

    void ToggleEdit()
    {
        editMode = true;
        overlayVisible = false;
    }

    void HandleMessageChanged(string NewMessage)
    {
        Details.Message = NewMessage;
        editMode = false;
    }

    void HandleEditCancelled()
    {
        editMode = false;
    }
}
